@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Project Fonts */

@font-face {
    font-family: 'PP Mori';
    src: url('../src/assets/fonts/PPMori-ExtraBold.woff2') format('woff2'),
         url('../src/assets/fonts/PPMori-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: bold;
  }
  
  /* @font-face {
    font-family: 'PP Mori';
    src: url('../src/assets/fonts/PPMori-ExtraBoldItalic.woff2') format('woff2'),
          url('../src/assets/fonts/PPMori-ExtraBoldItalic.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
   */
  
  @font-face {
    font-family: 'PP Mori';
    src: url('../src/assets/fonts/PPMori-Regular.woff2') format('woff2'),
          url('../src/assets/fonts/PPMori-Regular.woff') format('woff');
  }

  @layer components {
    .btn-style {
        border: 2px solid #000;
        border-radius: 25px;
        background-color: #fff;
        font-family: 'PP Mori', sans-serif;
    }
  }


  .category-bar p{
    font-family: 'PP Mori', sans-serif;
  }
  
  .user-menu {
    color: #000;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 40px !important;
  }


  .user-menu-open {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    padding: 1rem;
  }

  .category-bar {
    background-color: #fff;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .sell-btn {
    background-color: #fff;
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 25px;
  }

  .sell-btn:hover {
    background-color: #000;
    color: #fff;
  }

  .gender-toggle h6 {
    font-family: PP Mori, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 0px 10px;
  }

  .gender-toggle h6:hover {
    text-decoration: underline;
  }

  .footer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .category-bar li {
    font-family: PP Mori, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }